<!DOCTYPE HTML>	
<html lang = "es">
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="instalaton_list.css" />
</head>
<body>
	<header>
		<img id = "logoescuela" src = django_glecix/instalaton/templates/instalaton/imagenes/EscuelaColombianadeIngenieria.jpg />
		<h1><p id = "titulo">Instalat&oacuten</p></h1>
		<img id = "logoglecix" src = django_glecix/instalaton/templates/instalaton/imagenes/glecix.png />
	</header>
	<main>
		<!--<p id = "usuario"> usuario: </p>-->
		<form id = "usuario">
			Usuario: <input type="text"/>
		</form>
		<form id = "contraseña">
			Contraseña: <input type="password"/>
		</form>
		<p id = "olvidocontraseña">¿olvidó su contraseña?</p>
		<form id = "boton">
			<input type="submit" value="Aceptar">
		</form>
	</main>

</body>
</html>

